<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARUL7gPpPg_CDyyAjZrqoV5oX1AMyY2iU</string>
	<key>GCM_SENDER_ID</key>
	<string>645095200875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beeStore</string>
	<key>PROJECT_ID</key>
	<string>beestore-itu</string>
	<key>STORAGE_BUCKET</key>
	<string>beestore-itu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645095200875:ios:0f7c3d67eabf8d481e392e</string>
</dict>
</plist>